<!DOCTYPE html>
<html lang="en">
<%- include('./../layout/head.ejs') %>
<body>
  <div class="container mt-3">
    <div class="row">
      <h1 class="col-sm-6"><%= title%></h1>
      <div class="col-sm-6 text-end">
        <a href="/">INDEX</a> | 
        <a href="/emp/empList">EMP LIST</a> | 
      </div>

      <form>
        <div class="form-group mb-3">
          <label for="empId" class="form-label">ID</label>
          <input type="text" id="empId" name="empId" class="form-control" disabled value="<%=resp.data.empId %>">
        </div>
        <div class="form-group mb-3">
          <label for="name" class="form-label">NAME</label>
          <input type="text" id="name" name="name" class="form-control" disabled value="<%=resp.data.name %>">
        </div>
        <div class="form-group mb-3">
          <label for="email" class="form-label">E-MAIL</label>
          <input type="text" id="email" name="email" class="form-control" disabled value="<%=resp.data.email %>">
        </div>
        <div class="form-group mb-3">
          <label for="hire" class="form-label">입사일</label>
          <input type="text" id="hire" name="hire" class="form-control" disabled 
            value="<%= moment(resp.data.hire).format('YYYY-MM-DD HH:mm:ss') %>">
        </div>
        <div class="form-group mb-3">
          <label for="salary" class="form-label">급료</label>
          <input type="text" id="salary" name="salary" class="form-control" disabled value="<%=resp.data.salary %>">
        </div>
        <div class="form-group mb-3">
          <label for="deptId" class="form-label">부서번호</label>
          <input type="text" id="deptId" name="deptId" class="form-control" disabled value="<%=resp.data.deptId %>">
        </div>

        <div class="form-group mb-3">
          <button class="btn btn-primary btn-sm" type="button" id="update">수정</button>
          <button class="btn btn-danger btn-sm" type="button" id="delete">삭제</button>
        </div>
      </form>
    </div>
  </div>

  <script type="text/javascript">
    document.querySelector('#delete').addEventListener('click', function(evt){
      // evt.preventDefault();
      window.location.assign('/emp/deleteEmp?empId=<%= resp.data.empId%>');
    });
    document.querySelector('#update').addEventListener('click', function(evt){
      window.location.assign('/emp/updateEmp/<%= resp.data.empId%>');
    });
  </script>
</body>
</html>